---
layout: default
---

{% include header.html %}


<ul>
  <li>Scientific Papers → <a href="https://ui.adsabs.harvard.edu/search/filter_author_facet_hier_fq_author=AND&filter_author_facet_hier_fq_author=author_facet_hier%3A%220%2FKolesnikov%2C%20D%22&filter_database_fq_database=AND&filter_database_fq_database=database%3A%22astronomy%22&fq=%7B!type%3Daqp%20v%3D%24fq_database%7D&fq=%7B!type%3Daqp%20v%3D%24fq_author%7D&fq_author=(author_facet_hier%3A%220%2FKolesnikov%2C%20D%22)&fq_database=(database%3A%22astronomy%22)&q=%20author%3A%22kolesnikov%22%20year%3A2015-2021&sort=date%20desc%2C%20bibcode%20desc&p_=0">NASA ADS List</a></li>
  <li>X-ray binaries modelling → <a href="https://github.com/eliseys/discostar">GitHub</a></li>
  <li>Software for Solar Eclipse photography → <a href="https://github.com/eliseys/EclipseProject">GitHub</a></li>
<li>Photography → <a href="https://www.flickr.com/photos/dmitry_kolesnikov/">Flickr</a></li>
<li><a href="https://www.facebook.com/dmitriy.kolesnikov.1/">Facebook</a></li>
<!-- <li><a href="https://vk.com/id9383842">Вконтакте</a></li> -->
<li><a href="https://www.instagram.com/wunwud/">Instagram</a></li>
<!-- <li><a href="https://twitter.com/Ka_Dmitry">Twitter</a></li> -->
<!-- <li><a href="https://blog.dmitrykolesnikov.com">Teletype Blog</a></li> -->
<li><a href="https://dmitrykolesnikov.smugmug.com/">♥</a></li>
</ul>

<!--
<div class="portfolio">

  <a data-flickr-embed="true"  href="https://www.flickr.com/photos/dmitry_kolesnikov/albums/72157711012855298" title="Prague, 2019"><img src="https://live.staticflickr.com/65535/48774268711_738b60c338_z.jpg" width="640" height="424" alt="Prague, 2019"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

</div>
-->

<!--
<div class="friends">
    <h1>Мои друзья</h1>
    <ul>
        {% for websites in site.data.websites %}
        <li>
            <a href="{{ websites.url }}">{{ websites.url }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
-->

<!--
<div class="blog">
    <h1>Записи в блоге (пока не мои)</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
-->
