---
layout: default
---

{% include header.html %}

<div class="portfolio">
        <!--<a data-flickr-embed="true" data-context="true"  href="https://www.flickr.com/photos/dmitry_kolesnikov/24254248723/in/dateposted-public/" title="5"><img src="https://c4.staticflickr.com/2/1602/24254248723_34332ffb47_z.jpg" width="640" height="427" alt="5"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        -->
        <a data-flickr-embed="true" data-context="true"  href="https://www.flickr.com/photos/dmitry_kolesnikov/24555051789/in/dateposted-public/" title="4"><img src="https://c1.staticflickr.com/2/1452/24555051789_373818a4b3_z.jpg" width="640" height="427" alt="4"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        <br>
    <br>
</div>

<!--
<div class="friends">
    <h1>Мои друзья</h1>
    <ul>
        {% for websites in site.data.websites %}
        <li>
            <a href="{{ websites.url }}">{{ websites.url }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="blog">
    <h1>Записи в блоге (пока не мои)</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
-->
