---
layout: default
---

{% include header.html %}

<div class="portfolio">
    <h1>Когда-нибудь здесь будут ссылки на что-нибудь интересненькое...</h1>
    <ul>
        {% for websites in site.data.websites %}
        <li>
            <a href="{{ websites.url }}">{{ websites.url }}</a>
        </li>
        {% endfor %}
    </ul>
</div>


<div class="blog">
    <h1>Записи в блоге</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
